/*FUENTE*/

@font-face {
  font-family: "Coco Gothic";
  src: url("fonts/CocoGothic.woff2") format("woff2"),
    url("fonts/CocoGothic.woff") format("woff"),
    url("fonts/CocoGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Coco Gothic", sans-serif;
  background-color: #e8f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8f7ff;
}

.logo img {
  height: 50px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1em;
  transition: color 0.3s;
}

nav a:hover {
  color: #fbb040;
}

.sign-in {
  font-size: 1em;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.sign-in:hover {
  color: #fbb040;
}

main {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.side-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 150px;
}

.side-image.left {
  left: 0;
}

.side-image.right {
  right: 0;
}

.side-image img {
  width: 100%;
  height: auto;
}
.content {
  text-align: center;
}

main h1 {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
}

.subtext {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 30px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: #fbb040;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e09c36;
}

footer {
  width: 100%;
  height: 320px;
  background-image: url("img/olaspng.PNG");
  background-size: cover;

  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a img {
  width: 30px;
  margin: 0 10px;
}
