/*FUENTE*/

@font-face {
  font-family: "Coco Gothic";
  src: url("fonts/CocoGothic.woff2") format("woff2"),
    url("fonts/CocoGothic.woff") format("woff"),
    url("fonts/CocoGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #e3f2fd;
  height: 100%;
  font-family: "Coco Gothic", sans-serif;
  margin: 0;
}

.topheader {
  position: fixed;
  background-color: #e3f2fd;
  width: 100%;
  height: 90px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.opciones {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1650px;
}

.opciones li a {
  display: block;
  padding: 15px 15px;
  color: #000000;
  text-decoration: none;
}

.menu li a:hover {
  color: gray;
  text-decoration: underline;
}

.titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #000000;
  font-size: 2rem;
}

h2 {
  color: #000000;
}

h3 {
  color: #000000;
}
